.main-button {
  background-color: rgb(0 216 255);
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  margin: 30px 2px;
  cursor: pointer;
  border-radius: 0;
  width: 200px;
}

.close-button {
  background-color: red;
  border: none;
  color: white;
}

.center-container {
  display: flex;
  justify-content: center;
}

table, th, td {
  border: 1px solid black;
}

th {
  height: 50px;
}

.image-cell {
  width: 50px;
}

dialog {
  animation: fade-out 0.7s ease-out;
}
 
dialog[open] {
  animation: fade-in 0.7s ease-out;
}
 
dialog[open]::backdrop {
  animation: backdrop-fade-in 0.7s ease-out forwards;
}
 
/* Animation keyframes */
 
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scaleY(0);
    display: none;
  }
 
  100% {
    opacity: 1;
    transform: scaleY(1);
    display: block;
  }
}
 
@keyframes fade-out {
  0% {
    opacity: 1;
    transform: scaleY(1);
    display: block;
  }
 
  100% {
    opacity: 0;
    transform: scaleY(0);
    display: none;
  }
}
 
@keyframes backdrop-fade-in {
  0% {
    background-color: rgb(0 0 0 / 0);
  }
 
  100% {
    background-color: rgb(0 0 0 / 0.25);
  }
}
 
body,
button {
  font-family: system-ui;
}

.add-modal {
  width: 300px;
}

h1 {
  border-bottom: 1px solid white;
  color: #3d3d3d;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  padding: 10px;
  text-align: center;
}

form {
  background: white;
  border: 1px solid #dedede;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 500px;
  padding: 30px 50px;
}

input {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
}

label {
  color: #3d3d3d;
  display: block;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}

.error {
  color: red;
  font-family: sans-serif;
  font-size: 12px;
  height: 30px;
}

.submitButton {
  background-color:  rgb(0 216 255);
  color: black;
  font-family: sans-serif;
  font-size: 14px;
  margin: 20px 0px;
}

.loader {
  border: 12px solid #f3f3f3; /* Light grey */
  border-top: 12px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


